*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}

.main{
    height: 260px;
    margin: 0 20px;
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    padding: 30px;
    transition: .2s;
}



.main.active{
    height: 530px;
}

img{
    width: 200px;
}

.tittle{
    font-size: 21px;
    font-weight: 700;
}

.tittle p{
    margin-top: 10px;
    font-size: 18px;
    color: gray;
}

.form{
    margin: 20px 0 30px;
}

input,button{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 7px;
}

input{
font-size: 18px;
padding: 0 17px;
border: 1px solid #999;
}

button{
    color: #fff;
    background-color: dodgerblue;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
}

.qr-code{
    display: flex;
    padding: 15px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
}
.main.active .qr-code{
    opacity: 1;
    pointer-events: none;
    transition: 1s;
}

